<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #ffcc00;
}








    </style>


</head>
<body>

<h5>{{ version }}</h5>

<h2><a href="{%  url 'upload_file:upload' %}">New Update</a></h2>
<h2><a href="{%  url 'upload_file:reports' %}">ver todos</a></h2>

<table class="GeneratedTable">
    <h2>{{ soma }}</h2>
    <thead>
    <tr>
        <th>title</th>
        <th>file</th>
    </tr>
    </thead>

    <tbody>
    {% for file in files %}
    <tr>
        <td>{{ file.title }}</td>
        <td>{{ file.file }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<table class="GeneratedTable">
    <thead>
    <tr>
        <th>buyer</th>
        <th>description</th>
        <th>price</th>
        <th>amounts</th>
        <th>address</th>
        <th>supplier</th>
    </tr>
    </thead>

    <tbody>
    {% for report in reports %}
    <tr>
        <td>{{ report.buyer }}</td>
        <td>{{ report.description }}</td>
        <td>{{ report.price }}</td>
        <td>{{ report.amounts }}</td>
        <td>{{ report.address }}</td>
        <td>{{ report.supplier }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


</body>
</html>
</html>